*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.gz
*.bak

# No hace falta subir el PDF generado; GitHub lo compilará
*.pdf

# Archivos auxiliares que no queremos subir
assets/escet.rar
assets/escet/
main.pdf